header.header.d-flex.justify-content-between.align-items-center.bg-dark.text-light
	.logo.p-3 LOGO
	.navi-wrap.d-flex
		a.navi.p-3.text-light(href="/board/list") 리스트보기
		a.navi.p-3.text-light(href="/board/write") 글작성
		if user && user.id
			a.navi.p-3.text-light(href="/user/logout") 로그아웃
		else	
			a.navi.p-3.text-light(href="/") 로그인
			a.navi.p-3.text-light(href="/user/join") 회원가입