.pager-wrap.d-flex.justify-content-center
	.bt-first
		a.fa.fa-angle-double-left(href=`#`)
	.bt-prev
		a.fa.fa-angle-left(href=`#`)
	.bt-page
		a(href=`#`) 1
	.bt-page.active
		a(href=`#`) 2
	.bt-page
		a(href=`#`) 3
	.bt-next
		a.fa.fa-angle-right(href=`#`)
	.bt-last
		a.fa.fa-angle-double-right(href=`#`)