doctype html
html
	head
		meta(charset="utf-8")
		title MySQL 게시판
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href=`/css/${cssFile}.css`)
	body
		include ../inc/header.pug
		block content
		script(src=`/js/${jsFile}.js`)